build/
build-*/
_VSCodeCounter/
_VSCodeCounter(1)*/
.vscode/
_clinerules/

config.json
todo
ai_readme
ai_must_read.txt
test/ai read
**/doc

*.o
*.d
*.so
*.plist
*.log
*.py[cod]
**/__pycache__/

main/main
